<%- include("partials/header") %>

<div class="container">
    <div class="alert alert-danger" role="alert">
        Oops! We are so sorry! You account has been activated yet by admin or may be account blocked by admin.
    </div>
    <div class="alert alert-danger" role="alert">
        <p>You can only see posts via direct URL. You are not allowed to create posts or remove posts</p>
        <a href="/teacher/signout" class="btn btn-primary">Signout</a>
    </div>

</div>

<%- include("partials/footer") %>