<%- include("partials/header") %>

<div class="container">
    <div class="alert alert-danger">
        <p>
            Post has been removed
        </p>
        <a href="/teacher/dashboard">Go back to dashboard</a>
    </div>
</div>
<%- include("partials/footer") %>